.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20rem;

}

.section-features{
    padding: 20rem 0 ;
    background-image: linear-gradient( to right bottom, rgba($light-green, 0.8), rgba($dark-green, 0.8)),
    url('../img/nat-4.jpg');
    background-size: cover;
    transform: skewY(-6deg);
    margin-top: -10rem;

    &>*{
        transform: skewY(6deg);
    }
}

.section-tour{
    background-color: $color-grey-light-1;
    padding: 25rem 0 50rem 0;
    margin-top: -10rem;
}